:root {
	/* regular headers*/
	--huge: clamp(3.5rem, calc(2.6rem + ((1vw - 0.48rem) * 1.3889)), 4.8rem);
	--h1: clamp(1.9rem, calc(1.8rem + ((1vw - 0.48rem) * 0.9722)), 2.2rem);
	--h2: clamp(1.6rem, calc(1.5rem + ((1vw - 0.48rem) * 0.9722)), 1.9rem);
	--h3: clamp(1.3rem, calc(1.2rem + ((1vw - 0.48rem) * 0.9722)), 1.6rem);
	--h4: clamp(1.125rem, calc(1.15rem + ((1vw - 0.48rem) * 0.9722)), 1.3rem);
	--body: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.1736)), 1.125rem);

	--lh1: 1.3;
	--lh2: 1.35;
	--lh3: 1.4;
	--lh4: 1.5;
	--lhbody: 1.6;

	/*default colors */
	--svelte: #cc3300;
	--secondary800: #14c489;
	--primary800: #3164ff;
	--primary400: #557ef7;
	--primary100: #8fa9f8;
	--font: #ffffff;
	--bg: #000000;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	border-radius: 12px;
	background: var(--primary100);
}
::-webkit-scrollbar-thumb {
	border-radius: 12px;
	background: var(--primary800);
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--bg);
	color: var(--font);
}

h1,
h2,
h3,
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: var(--h1);
	line-height: var(--lh1);
}
h2 {
	font-size: var(--h2);
	line-height: var(--lh2);
}
h3 {
	font-size: var(--h3);
	line-height: var(--lh3);
}
h4 {
	font-size: var(--h4);
	line-height: var(--lh4);
}

p,
span,
a,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--body);
	line-height: var(--lhbody);
	font-weight: 400;
	word-break: break-word;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
